<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>404 Not Found</title>
  <object th:include="fragment/fragment :: css" th:remove="tag"></object>
  <object th:include="fragment/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragment/fragment :: navbar('403')"></nav>
<div class="container-fluid">
  <h2>Maaf, anda tidak dapat mengakses halaman ini</h2>
  <a th:href="@{/}">Kembali ke home</a>
</div>
</body>
</html>