<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Form Add Cabang </title>
    <object th:include="fragment/fragment :: css" th:remove="tag"></object>
    <object th:include="fragment/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragment/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Cabang Emsidi</h2>
                <br>
                <form id="formTambah" th:action="@{/cabang/tambahrow}" method="POST"></form>
                <form id="formHapus" th:action="@{/cabang/hapusrow}" method="POST"></form>
                <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
                    Nama Cabang : <br>
                    <input required class="form-control" type="text" name="namaCabang"/>
                    <br><br>

                    Alamat : <br>
                    <input required class="form-control" type="text" name="alamatCabang"/>
                    <br><br>

                    Nomor Telepon : <br>
                    <input required class="form-control" type="text" name="noTeleponCabang"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" />
                    <br><br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nama Menu</th>
                            <th><button class="btn btn-primary" type="submit" form="formTambah">Tambah Row</button> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${row}!=0" th:each="i: ${#numbers.sequence(0,  row-1)}">
                            <td>
                                <select name="cabang_menu" class="form-control" th:field="*{listMenu}">
                                    <option th:each = "menu : ${listMenu}" th:value="${menu.noMenu}" th:text="${menu.namaMenu}"></option>
                                </select>
                            </td>
                            <td><button class="btn btn-danger" type="submit" form="formHapus">Hapus</button></td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>