<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Form Add Menu </title>
    <object th:include="fragment/fragment :: css" th:remove="tag"></object>
    <object th:include="fragment/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragment/fragment :: navbar('Menu')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Menu</h2>
                <br>
                <form th:action="@{/menu/add}" th:object="${menu}" method="POST">

                    Nama Menu : <br>
                    <input required class="form-control" type="text" name="namaMenu" />
                    <br><br>

                    Deskripsi Menu : <br>
                    <input required class="form-control" type="text" name="deskripsiMenu" />
                    <br><br>

                    Sedang Tersedia : <br>
                    <select name="isAvailable" th:field="*{isAvailable}"
                            class="form-control">
                        <option th:value="0" th:text="TIDAK"></option>
                        <option th:value="1" th:text="YA"></option>
                    </select>
                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>