<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emsidi</title>
    <object th:include="fragment/fragment :: css" th:remove="tag"></object>
    <object th:include="fragment/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragment/fragment :: navbar('')"></nav>

<div class="row justify-content-center">
    <div class="rol-md-6">
        <br>
        <div class="card">
            <div class="card-header">Update Password</div>
            <div class="card-body">
                <form th:action="@{/user/updatePassword}" method="POST">
                    <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">
                    <div class="row form-group">
                        <label class="col-sd-4"> Old Password: </label>
                        <input class="col-sd-8 form-control input-sm" type="password" name="password">
                    </div>
                    <div class="row form-group">
                        <label class="col-sd-4"> New Password: </label>
                        <input class="col-sd-8 form-control input-sm" type="password" name="newPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                               title="Password minimal memiliki 8 karakter, yang didalamnya minimal memiliki satu huruf besar, satu huruf kecil, satu angka dan satu simbol">
                    </div>
                    <div class="row form-group">
                        <label class="col-sd-4"> Confirm New Password: </label>
                        <input class="col-sd-8 form-control input-sm" type="password" name="confirmPass" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                               title="Password minimal memiliki 8 karakter, yang didalamnya minimal memiliki satu huruf besar, satu huruf kecil, satu angka dan satu simbol">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>