<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title> Emsidi</title>
    <meta charset="UTF-8">
    <title> User </title>
    <object th:include="fragment/fragment :: css" th:remove="tag"></object>
    <object th:include="fragment/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragment/fragment :: navbar('')"></nav>
<div class="container">
    <h2>Daftar Seluruh User</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Username</th>
            <th>Email</th>
            <th>Nama</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterationStatus : ${listUser}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.nama}"></td>
            <td th:text="${user.role.role}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{/user/delete/} + ${user.username}">Delete</a>
            </td>
<!--            <td>-->
<!--                <a class="btn btn-primary" th:href="@{/cabang/update/} + ${cabang.noCabang}">Update</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a class="btn btn-danger" th:href="@{/cabang/delete/} + ${cabang.noCabang}">Delete</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>

