<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <title> Emsidi</title>
  <meta charset="UTF-8">
  <title> Menu </title>
  <object th:include="fragment/fragment :: css" th:remove="tag"></object>
  <object th:include="fragment/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragment/fragment :: navbar('Menu')"></nav>
<div class="container">
  <h2>Daftar Seluruh Menu</h2>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>No</th>
      <th>No Menu</th>
      <th>Nama</th>
      <th>Deskripsi</th>
      <th>Tersedia</th>
      <div sec:authorize="hasAuthority('Manajer')">
        <th>Detail</th>
        <th>Update</th>
        <th>Hapus</th>
      </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menu, iterationStatus : ${listMenu}"
        th:style="${iterationStatus.odd} ? 'font-weight:bold;'">
      <td th:text="${iterationStatus.count}"></td>
      <td th:text="${menu.noMenu}"></td>
      <td th:text="${menu.namaMenu}"></td>
      <td th:text="${menu.deskripsiMenu}"></td>
      <td>
        <p th:if="${menu.isAvailable == true}" th:text="' YA'"></p>
        <p th:if="${menu.isAvailable == false}" th:text="'TIDAK'"></p>
      </td>
      <div sec:authorize="hasAuthority('Manajer')">
        <td>
          <a class="btn btn-primary" href="/">Detail</a>
        </td>
        <td>
          <a class="btn btn-success" href="/">Update</a>
        </td>
        <td>
          <a class="btn btn-danger" href="/">Delete</a>
        </td>
      </div>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>